.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: left 1s ease-in-out;
  position: sticky;
  top: 0;
  background: #101010ad;
  z-index: 100;
  backdrop-filter: blur(50px);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.boxHeader{
  display: flex;
  align-items: center;
  gap: 100px;
}
.form {
  background: #1a1a1a;
  padding: 10px 30px;
  border-radius: 25px;
  position: relative;
  top: 0;
}
.form input {
  border: none;
  outline: none;
  background: transparent;
  color: white;
}
.button {
  cursor: pointer;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: green;
  color: white;
  transition: all 0.5s ease;
  font-family: 600;
  font-size: 18px;
}
.button:hover {
  transform: scale(1.1);
}
.imgBox {
  position: relative;
  top: -20px;
  width: 200px;
}
.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.getrandom {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 15px;
  transition: all .5s ease;
}
.getrandom:hover {
  transform: scale(1.06);
}
.menuMb{
  display: flex;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 102;
  background: #00000077;
  backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}
.menuMb ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.menuActive{
  display: none;
}
.iconClose{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 25px;
  color: #ffffff7d;
  cursor: pointer;
}
.aside{
  display: flex; 
  align-items: center;
  gap: 30px;
}

.iconMenu{
  cursor: pointer;
  display: none;
  position: fixed;
  right: 30px;
  top: 15px;
  font-size: 25px;
  color: #ffffff7d;
}
.myFav{
  color: rgba(255, 255, 255, 0.808);
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
}
.myFav:hover{
  color: #ffffff81;
}
@media (max-width: 920px) {
  .search {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
  .getrandom{
    margin-bottom: 20px;
  }
  .form{
    margin-top: 0;
    padding: px 25px;
  }
  .button{
    width: 28px;
    height: 28px;
  }
  .boxHeader{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  .iconMenu{
    display: block;
  }
  .boxMv{
    display: none;
  }
  .aside{
    display: none;
  }

}
.hidden {
  display: none;
}
.back {
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000;
  text-decoration: none;
  background: #fff;
  padding: 8px 30px;
  border-radius: 15px;
  transition: transform 0.5s ease;
}
.back:hover {
  transform: scale(1.1);
}

@keyframes left {
  from {
    transform: translateX(-1600px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
