@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
.container {
  display: flex;
  justify-content: start;
  width: 100%;
  height: calc(100vh - 200px);
  padding-left: 190px;
  padding-right: 170px;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.form {
  display: flex;
  flex-direction: column;
  width: 590px;
  height: 820px;
  background: #1a1a1a;
  border-radius: 27px;
  padding-top: 95px;
  padding-left: 43px;
  padding-right: 43px;
  transform: scale(0.8);
}
.title {
  color: #fff;
  font-size: 36px;
  width: 269px;
  height: 72px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.spanLogin {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.29);
  margin-bottom: 60px;
}
.input {
  color: white;
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.inputContainer {
  position: relative;
  padding-left: 16px;
  display: flex;
  align-items: center;
  width: 503px;
  height: 70px;
  background: #111111;
  color: rgba(255, 255, 255, 0.2);
  border-radius: 27px;
}
.fimail{
  font-size: 24px;
  margin-right: 15px;
}
.lock{
  font-size: 24px;
  margin-right: 15px;
}
.eye{
  font-size: 24px;
  position: absolute;
  right: 20px;
}
.eyeLock{
  font-size: 24px;
  position: absolute;
  right: 20px;
}
.input::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
}
.inputPassword {
  margin-top: 38px;
  margin-bottom: 20px;
}
.boxR {
  background: #111111;
  width: 30px;
  height: 30px;
  border-radius: 4px;
}
.forgotPassword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #84bdba;
}

.btnLogin {
  cursor: pointer;
  width: 100%;
  height: 70px;
  margin-top: 40px;
  background: #111111;
  border-radius: 27px;
  outline: none;
  border: none;
  font-size: 25px;
  color: white;
}
.IconBox {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 30px;
  height: 30px;
  background: #111111;
  border-radius: 4px;
}
.loginWhith {
  gap: 20px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 37px;
  color: rgba(255, 255, 255, 0.2);
}
.continLogin {
  display: flex;
  gap: 10px;
}

.register2 {
  color: #84bdba;
}
.register{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 22px;
display: flex;
gap: 30px;


color: rgba(255, 255, 255, 0.2);

}
.rick {
  filter: drop-shadow(0px 4px 30px rgba(170, 217, 69, 0.27));
}

@media (max-width: 450px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    justify-content: center;
  }
  .rick {
    display: none;
  }
  .form {
    width: 327px;
    height: 455px;
    padding-top: 46px;
    padding-left: 25px;
    padding-right: 25px;
  }
  .title {
    font-size: 16px;
    width: 120px;
    line-height: 100.5%;
    height: fit-content;

  }
  .spanLogin {
    font-size: 12px;
    margin-bottom: 20px;
  }

  .inputContainer {
    width: 279px;
    height: 40px;

  }
  .inputPassword{
    margin-top: 20px;
    margin-bottom: 7px;
  }
  

  .forgotPassword{
    align-items: center;
    font-size: 12px;
    margin-bottom: 20px;
  }
  .input {
    font-size: 12px;
  }
  .btnLogin{
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0px;
    height: 40px;
  }
  .loginWhith{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;

    
  }
  .IconBox{
    width: 30px;
  }
  .register{
    font-size: 14px;
    line-height: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .fimail, .lock, .eye, .eyeLock{
    font-size: 16px;
  }
  .boxR{
    width: 20px;
    height: 20px;
  }
}
